// Specific CSS for your home-page
body {
  background-color: #F1F5F9;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

footer {
  margin-top: auto;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
}

.pagination {
  margin-top: 20px;
  display: flexbox;
  justify-content: flex-end;
}

#hover {
  --s: 0.1em;   /* the thickness of the line */
  --c: #0D6EFD; /* the color */

  color: #0000;
  padding-bottom: var(--s);
  background:
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.8s;
}

#hover:hover {--_p: 100%}

.container-investor {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 600px;
  max-width: 800px;
  margin: -80px 50px 50px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 5px 5px gray;
}

.container-fluid.startups {
  padding: 30px;
  background-color: #CBD5E1;
}
