// Specific CSS for your home-page
body {
  background-color: #F1F5F9;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

footer {
  margin-top: auto;
}

.banners {
  width: auto;
  height: 600px;
  padding-top: 150px;
}

.container.home {
  margin-top: 50px;
  margin-bottom: 64px;
}

h1.home {
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

p.home {
  letter-spacing: 1.5px;
}

.pagination {
  margin-top: 20px;
  display: flexbox;
  justify-content: flex-end;
}

#hover {
  --s: 0.1em;   /* the thickness of the line */
  --c: #0D6EFD; /* the color */

  color: #0000;
  padding-bottom: var(--s);
  background:
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.8s;
}

#hover:hover {--_p: 100%}












// .col-md-4.founder {
//   position: fixed;
//   left: 0;
//   bottom: 20px;
//   top: 0px;
// }

// .col-md-8.founder {
//   position: relative;
//   left: 33.35%;
// }
