// Specific CSS for your home-page
body {
  background-color: #F1F5F9;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

footer {
  margin-top: auto;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  text-align: left;
}

.pagination {
  margin-top: 20px;
  display: flexbox;
  justify-content: flex-end;
}

#hover {
  --s: 0.1em;   /* the thickness of the line */
  --c: #0D6EFD; /* the color */

  color: #0000;
  padding-bottom: var(--s);
  background:
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.8s;
}

#hover:hover {--_p: 100%}

.container-investor {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 600px;
  max-width: 800px;
  margin: -80px 50px 50px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 5px 5px gray;
}

.container-startup {
  padding-bottom: 80px;
  padding-top: 80px;
  padding-left: 150px;
  padding-right: 150px;
  background-color: #CBD5E1;
  margin-top: -80px;
}

.container-get-started {
  height: 60vh;
  background-color: $primary-900;
  text-align: center;
  margin-right: 0px;

  .row.justify-content-center.align-items-center {
    padding-top: 70px;
    }

  p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: white;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  h1 {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
}


// For YL's use only

// Generic settings
body {
  background-color: $neutral-50;
}

// ***** ***** ***** ***** ***** *****
// Styling settings for hero banner
// ***** ***** ***** ***** ***** *****
.hero-wrapper {
  // Styling for hero banner
  background-image: image-url("new-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .hero-section {
    padding-top: 120px;
    padding-bottom: 200px;
    width: 1080px;
  }
}

.hero-wrapper {
  // Styling for hero header and subheader
  .hero-header {
    width: 50%;
  }
}

// ***** ***** ***** ***** ***** *****
// Styling for featured investors section
// ***** ***** ***** ***** ***** *****

.featured-investors-wrapper {
  background-color: $shade-0;
  // padding: 40px auto 40px auto;
  width: 1080px;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin: -80px auto 80px auto;
  // align header and cards in middle
  display: flex;
  flex-direction: column;
  align-items: center;

  .featured-investors {
    padding: 40px 0 16px 0;
    width: 857px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // yeah... i cheated, 857px is to accomodate the card size lol.. sue me
  .investor-card-deck {
    width: 857px;
  }
}

.investor-card-deck {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  gap: 16px;

  // investor-card contains both image and the words
  .investor-card {
    width:275px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid $neutral-300;
  }

  // investor-card-image MUST BE 275PX for now, else later formatting break then gg
  .investor-card-image {
    padding: 0px;
  }

  // investor-card is the white white portion storing headers and description.. i don't have the brain power to come up with better class names, sue me lol.
  .investor-card-details {
    background-color: $shade-0;
    padding: 20px 25px;
    margin-top: -44px;
    border-radius: 10px;
  }
}

.investor-card-details {
  .investor-bio {
    margin-bottom: 24px;
  }
}

// ***** ***** ***** ***** ***** *****
// Styling for browse startups section
// ***** ***** ***** ***** ***** *****

// Align the startup frame + header
.browse-startups-wrapper {
  background-color: $neutral-200;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .browse-startups-header {
    width: 1080px;
    padding-top: 58px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .startup-card-deck {
    width: 1080px;
  }
}

.startup-card-deck {
  display: flex;
  justify-content: space-between;
  padding-bottom: 58px;

  // startup-card also contains both image and words
  .startup-card {
    width: 349px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid $neutral-300;
    background-color: $shade-0;
  }

  // For startup card, let's just run with 350px... idk...
  .startup-card-image {
    padding: 0px;
  }

  .startup-card-details {
    background-color: $shade-0;
    margin-top: -44px;
    padding:20px 25px;
    border-radius: 10px;
  }
}

.startup-card-details {
  .startup-bio {
    margin-bottom: 24px;
  }
}



// ***** ***** ***** ***** ***** *****
// Styling for browse startups section
// ***** ***** ***** ***** ***** *****

.newsletter-wrapper {
  color: $shade-0;
  background-color: $primary-700;
  display: flex;
  align-items: center;
  justify-content: center;

  .newsletter-banner {
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding-top: 128px;
    padding-bottom: 128px;
  }

  .join-newsletter {
  }
}

.newsletter-banner {
  .newsletter-copy {
    // margin-bottom: 40px;

  }
}

// this is just to make a small separation between the header and tagline... idk why i need another scss  config lol
.newsletter-copy {
  h2 {
    margin-bottom: 16px;
  }
}

.join-newsletter form {
  display: flex;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border: none;

  .newsletter-input {
    width: 281px;
    padding: 16px;
    background-color: $shade-0;
    border-radius: 8px 0px 0px 8px;
  }
}
