// ***** ***** ***** ***** ***** *****
// Styling for the header + search frame
// ***** ***** ***** ***** ***** *****
.investors-heading-wrapper {
  background-color: $neutral-50;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .heading-info {
    width: 1080px;
    padding-bottom: 32px;
  }

  .search-investor {
    width: 1080px;
    padding-bottom: 16px;
  }

  .custom-call-to-action {
    width: 1080px;
    padding: 15px 40px;
    border-radius: 10px;
    background-color: $secondary-50;
  }
}

// I'm opening this just to make sure that damn banner is center-aligned.. wth
.custom-call-to-action {
  p {
    margin-bottom: 0px;
  }

  .acquisition-banner {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}


// ***** ***** ***** ***** ***** *****
// Styling for the investor index frame
// ***** ***** ***** ***** ***** *****

.investors-show-wrapper {
  background-color: $neutral-100;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .investors-show {
    width: 1080px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .investors-card-deck {
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
  }
}

.investors-card-deck {
  .investor-card {
    width: 257px;
  }
}

.investor-card-profile {
  box-shadow: 1px 5px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  .investor-card-title {
    padding-left: 24px;
    padding-top: 16px;
    display: flex;
    gap: 0px;
    flex-direction: column;
    border-radius: 8px;
    background-color: $shade-0;
  }
}
