<% content_for(:navbar_class, "navbar-home") %>

<div class="container">
  <div class="row flex justify-content-between my-3">
    <div class="col-md-6">
      <a href=<%= "/founders/#{@founder.id}" %> class="btn btn-success">Founder's profile</a>
      <a href=<%= "/investors" %> class="btn btn-success">All Investors</a>
    </div>
  </div>

  <div class="row">
  <% @investors.each do |investor| %>
    <div class="col-sm-4 g-2">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><strong><%= investor.company_name %></strong></h5>
          <p class="card-text"><%= investor.company_description %></p>
          <div class="card-bottom flex text-center">
            <a href="#" class="btn btn-primary">Know more</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<div class="banner">
  <div class="banner-content">
    <div class="header">
      <h1>Find the perfect <i>freelance</i> services for your business</h1>
      <div class="input-group input-group-lg shadow">
        <input type="search" class="form-control rounded" placeholder="Try searching &quot;for lost cats and dogs&quot;" id="header-search">
        <button id="search-button" type="button" class="btn btn-primary">
          <span>Search</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <h1>Where does it come from?</h2>
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text.
  It has roots in a piece of classical Latin literature from 45 BC,
  making it over 2000 years old. Richard McClintock, a Latin professor at
  Hampden-Sydney College in Virginia, looked up one of the more obscure
  Latin words, consectetur, from a Lorem Ipsum passage, and going through
  the cites of the word in classical literature, discovered the undoubtable
  source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of
  "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil)
  by Cicero, written in 45 BC. This book is a treatise on the theory
  of ethics, very popular during the Renaissance. The first line of
  Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
  section 1.10.32.

  The standard chunk of Lorem Ipsum used since the 1500s is reproduced
  below for those interested. Sections 1.10.32 and 1.10.33 from
  "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
  exact original form, accompanied by English versions from the 1914
  translation by H. Rackham.</p>
</div>
