<% content_for(:navbar_class, "navbar-home") %>



<div class="banner">
  <div class="banner-content text-center">
    <h1 class="home">Discover, Identify and Connect!</h1>
    <p class="home">Browse Through Our Network Today</p>
    <%= link_to "Start now", new_user_session_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>


<div class="container home">
  <br>
  <div class="row d-flex w-25">
    <a href="/investors" class="btn btn-primary">All Investors</a>
  </div>
  <br>
  <div class="row">
  <% @investors.each do |investor| %>
    <div class="col-sm-4 g-2">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><strong><%= investor.company_name %></strong></h5>
          <p class="card-text"><%= investor.company_description %></p>
          <div class="card-bottom flex text-center">
            <a href="#" class="btn btn-primary">Know more</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
<%== pagy_bootstrap_nav(@pagy) %>
</div>
