.banner {
  padding-top: 100px;
  padding-bottom: 350px;
  display: flex;
  justify-content: space-around;
  position: static;
  background-image: image-url("new-background.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;

  h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
  line-height: 63px;
  display: flex;
  align-items: center;
  color: #000000;
  }

  p {
    color: black;
    opacity: 0.9;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
}
