.banner {
  padding-top: 100px;
  padding-bottom: 350px;
  display: flex;
  justify-content: space-around;
  position: static;
  background-image: image-url("new-background.jpg");
  background-size: cover;
  width: 100%;
  height: 120vh;


  h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
  line-height: 63px;
  display: flex-start;
  align-items: start;
  color: #000000;
  width: 600px;
  text-align: left;
  padding-top: 50px;
  }

  p {
    color: black;
    opacity: 0.9;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
    padding-top: 50px;
    text-align: left;
  }
}

.img-sign-up {
  border-radius: 0px;
  height: 100%;
  background-size: cover;
}

.img-sign-in {
  border-radius: 0px;
  height: 100%;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
