.btn-ghost {
  color: black;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin-top: 10px;
}

.btn-ghost:hover {
  opacity: 0.8;
  border: 1px solid #000000;
}

.btn-flat {
  color: rgb(255, 254, 254);
  padding: 8px 24px;
  border-radius: 4px;
  background: $primary-500;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $primary-700;
  color: blue;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

// .btn {
//   background-color: $secondary-500;
//   margin-bottom: 20px;
//   color: black;
//   font-weight: 500;
// }

.btn:hover {
  background-color: $secondary-900;
}

// .btn.btn-primary {
//   margin-left: 20px;
//   color: black;
// }

.button-founder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-flat.founder {
  color: rgb(255, 255, 255);
  padding: 8px 10px;
  border-radius: 4px;
  background-color: $primary-500;
  transition: background 0.3s ease;
}

.btn-flat.founder:hover {
  background-color: $primary-900;
  color: white;
}
