// Founders details form
.founder-form {
  padding: 0px;
  max-width: 960px;
}

.submission-field {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.submission-field input {
  margin-right: 24px;
  padding: 8px;
}
