.form-login {
  background: transparent;
  padding: 20px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 3px;
  // box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  padding-right: 100px;
  padding-left: 100px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: -40px;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.form-inputs {
  font-weight: bold;
}

.subtitle {
  display: block;
  margin-top: 50px;
  font-weight: bold;
}


.col-xs-12.col-md-4.p-0 {
  position: relative;
}

.text-on-image {
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: bolder;

  h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    color: black;
    padding-top: 50px;
    padding-left: 20px;
  }

  p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-left: 20px;
  }
}


.container-signup {

  h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
  }

  p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }
}
