.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
  width: 100%;
  z-index: 999;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.nav-link {
  color: black;
  margin-right: 20px;
}

.nav-link:hover {
  color: $primary-500;
}

.navbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  margin-top: 16px;

  .navbar-left {
    display: flex;
    align-items: center;
    padding: 0px;
  }

  .navbar-left-logo {
    width: 15%;
  }

  .navbar-left-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0px;
  }

}

.navbar-right {

  .navbar-right-useractions {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 16px;
  }
}
