<%# <div class="max-width-container">
  <div class="container founder-form-wrapper">
    <h1>Fill in founders details</h1>
    <%= render "form" %>
  <%# </div>
</div>  %>


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-5 p-0">
    <%= image_tag('sign-up-banner.jpg', class: 'img-sign-up') %>
      <div class="text-on-image">
        <h1>Almost there!</h1>
        <p>We just need more details</p>
      </div>
    </div>

    <div class="col-xs-12 col-md-7">
      <div class="form-login">
        <div class="container-founder">

        <p>testinggggggggggggggggggg</p>


        </div>
      </div>
    </div>
  </div>
</div>
